/* general */
*, *::after, *::before {
  box-sizing: border-box;
}

/* hide elements and dont damage data */
.hidden {
  display: none;
}

:root {
  --blue: hsl(200, 100%, 10%);
  --white: rgb(255, 255, 255);
}
body {
  background: linear-gradient(180deg, black, black);
  color: var(--white);
  font-family: sans-serif;
  height: 100%;
}

.blurred {
  filter: blur(3px);
  overflow: hidden;
}


.header {
  display: grid;
  align-items: center;
  padding: 2.5rem;
  /* background: linear-gradient(180deg, rgb(91, 208, 255),rgb(0, 134, 243) 80%,rgb(0, 93, 243) 100%); */
  background: linear-gradient(217deg, rgba(0, 242, 255, 0.4), rgba(0, 134, 243,0.5) 70.71%),
  /* linear-gradient(137deg, rgba(0, 255, 136, 0.8), rgba(0, 134, 243,0.5) 70.71%),      original  */
  linear-gradient(137deg, rgba(0, 225, 255, 0.8), rgba(0, 134, 243,0.5) 70.71%),            
  linear-gradient(366deg, rgba(0,0,255,.8), rgb(0, 134, 243) 90.71%);
  border-radius: 60px;
  height: max-content;
  box-shadow: 0px 30px 30px rgb(0, 134, 243, 0.3) ;
  /* border: 2px solid rgb(0, 134, 243); */
  border: 2px solid rgb(0, 162, 243);
}

.current-location {
  display: grid;
  justify-content: center;
  padding-bottom: 5%;
}

.location-name {
  border: 1px solid rgb(255, 255, 255, 0.5);
  border-radius: 30px;
  padding: 5px 15px 5px 15px; 
}

.header-icon {
  display: grid;
  justify-content: center;
  justify-self: center;
  /* background-color: tomato; */
  margin-top: 20%;
  margin-bottom: -30%;
}

.map-div {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;;
  /* background-color: white; */
  border-radius: 20px;
  color: black;
  padding-top: 10%;
}

#temp-map-img {
  width: 100%;
  height: 100%;
  padding-top: -10px;
  border-radius: 50%;
  box-shadow: 5px 10px 10px rgb(0, 0, 0, 0.2) ;
  border: 2px solid rgb(0, 255, 247);
}

.header-top {
  display: grid;
  width: 100%;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
  padding: 5% 15% 5% 15%;
}

.green-arrow-current {
  display:grid;
  justify-content: center;
  align-self: center;
  width: 100%;
  height: 70%;
  margin-bottom: -20%;
  margin-top: -30%;
}

.air-api {
  /* display: grid;
  justify-content: center;
  align-self: center; */
}

#wind-direction {
  width: 100px;
  height: 100px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  /* background-color: lightblue; */
}
/*   display: none; voor weather icon om volledig te verbergen op elke */

/* eerst nieuwe mooie weather icons downloaden en in map zetten daarna pas aanzetten. */
/* als het teveel afleid weg laten, focu is windrichting */
.weather-icon {
  width: 60px;
  height: 60px;
  object-fit: contain;
  /* display: none; */
}

.weather-icon.large {
  width: 100px;
  height: 100px;
}

.header-current-wind {
  margin-left: 2rem;
    /* no .label, using manual to make it bigger */
    text-transform: uppercase;
    font-weight: 400;
    font-size: 5rem;
    color: var(--white);
    text-shadow: 0px 0px 5px rgb(255, 255, 255,0.5);
    margin-bottom: -10px;
}

.header-bottom {
  display: grid;
  width: 100%;
  justify-content: space-around;
  gap: 1rem;
  grid-template-columns: repeat(3, auto);
  /* grid-template-rows: repeat(3, auto); */
  border-top: 1px solid rgb(0, 162, 243, 0.5);
  padding-top: 10%;
}


/* bezig met het center alignenen van dezezon */
.icon-header {
  display: grid;
  width: 100%;
  justify-content: center;
  margin-bottom: 10%;
  margin-top: -5%;
}

.info-grounp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--white);
  text-shadow: 0px 0px 5px rgb(255, 255, 255,0.5);
}

.value-sub-info {
  font-weight: 400;
  font-size: 1rem;
}

.day-section {
  display: grid;
  grid-template-columns: repeat(auto-fit,100px);
  gap: 1rem;
  justify-content: center;
  padding: 1rem;
}

.day-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 3px solid var(--white); */
  border-radius: 20px;
  padding: 1rem;
}

.day-card-day {
  margin-top: 1rem;
}

.green-arrow-day {
  width: 60px;
  height: 60px;
}

/* add background specificly for current day */

/* first make it available as a class, and put that class, on the selected day, change interface also to that days data */
/* staat nu tijdelijk op huidige dag */
.day-card-background {
  background-color: tomato;
}

.hour-section {
  width:100%;
  text-align: center;
  border-spacing: 0;
}

.green-arrow-hour {
  width: 60px;
  height: 60px;
}

.hour-row {
  background-color: rgba(45, 45, 45, 0.3);
}

.hour-row:nth-child(2n) {
  background-color: rgba(0, 0, 0, 0.1);
}

.hour-row > td {
  padding: 0.25rem;
}





